<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>

  <body style="font-family: 'Roboto Slab', serif;  background-color: #b4c6f8;">
    <!-- nav bar -->
    <nav style= "background-color: #5169a6;" class="navbar navbar-light shadow">
      <a style= "color:white;" class="link-opacity-100-hover mx-3" href="./home.html">Home Page</a>
      <button class="btn btn-secondary my-2 mx-3 my-sm-0" style=" box-shadow: 0px 0px 20px #00000070;" onclick="logout(event)">Log Out</button>
    </nav>
    <!-- content -->
    <div id="content" class="content container-fluid" style="margin-top: 55px;">
      <div class="row">
        <div class="col">
          <div class="card shadow" >
            <div class="card-header text-center" style="background-color:#5d76bd ;" name="groupnamediv" id="">
              <h3 style="display: inline; font-weight:bold" id="groupnamespan">Click on a Group to show the chats</h3>
              <p id="groupdescription"></p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary" type="button"id="editgroup" onclick="editGroup(event)" style=" box-shadow: 0px 0px 20px #00000070;">Edit Group</button>
              </div>
            </div>
            <div class="card-body" id="chatbox">
              <p class="card-text">No messages yet</p>
          </div>
          <div class="card-footer">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Type message here" id="messageinputbox">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" onclick="sendMessage(event)">Send</button>
                </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <!-- bootstrap cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script>

      function parseJwt (token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
      }

      window.addEventListener('DOMContentLoaded', async () => {
        try{
        //LogOut code
          const token = localStorage.getItem('token')
          if(token === null){
              window.location.href = '../login/login.html'
          }
          //Displaying chats
          displayChats();
        } catch(err){
          console.log(err)
        }
        })

        async function displayChats(){
          try{
            const chatdisp = document.getElementById('chatbox')
            const token = localStorage.getItem('token')
            const res=await axios.get('http://localhost:3000/chat/message',{headers:{"auth":token}})
            console.log(res);
            console.log(res.data.messages)
            const allchats = res.data.messages;
            chatdisp.innerHTML="";
            allchats.forEach(ele=>{
              const p = document.createElement('p')
              p.className = 'cart-text'
              p.innerText = `${ele.userId}: ${ele.message}`
              chatdisp.appendChild(p)
            })
          }catch(err){
            console.log(err);
            displayError(err);
          }
        }

        async function sendMessage(e){
          try{
            const token = localStorage.getItem('token')
            const decodeToken = parseJwt(token);
            console.log("tokrn",decodeToken);
            const chatdisp = document.getElementById('chatbox')
            const textbox = document.getElementById('messageinputbox');
            const message = textbox.value;
            textbox.value="";
            const messageObj={
              message:message
            }
            
            const res=await axios.post('http://localhost:3000/chat/message',messageObj,{headers:{"auth":token}})
            console.log(res);
            console.log(res.data.newMessage.message);
            displayChats();
            // if(res.data.newMessage.message){
            //   const p = document.createElement('p')
            //   p.className = 'cart-text'
            //   p.innerText = `${decodeToken.name}: ${res.data.newMessage.message}`
            //   chatdisp.appendChild(p)
            // }
            //showMessageonscreen(res.data);
          }catch(err){
            console.log(err);
            displayError(err);
          }
        }

        function displayError(err){
          const content = document.getElementById('content')
          if(err.response==undefined){
            alert(err);
            content.innerHTML=`<div class="error_box-container"><div class="error_box">${err}</div></div>`+ content.innerHTML;
          }else{
            alert(err.response.data.message);
            content.innerHTML=`<div class="error_box-container"><div class="error_box">${err.response.data.message}</div></div>`+ content.innerHTML;
          }
          const errbox= document.getElementsByClassName('error_box');
          for(let i=0;i<errbox.length;i++){
            setTimeout(()=>{
              errbox[i].style.display ='none';},3000);
          }
        } 
        
        function logout(e){
            localStorage.removeItem('token')
            localStorage.removeItem('chats')
            window.location.href = '../login/login.html'
        }
    </script>
  </body>
</html>