<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>

  <body style="font-family: 'Roboto Slab', serif;  background-color: #b4c6f8;">
    <!-- nav bar -->
    <nav style= "background-color: #5169a6;" class="navbar navbar-light shadow">
      <a style= "color:white;" class="link-opacity-100-hover mx-3" href="./home.html">Home Page</a>
      <button class="btn btn-secondary my-2 mx-3 my-sm-0" style=" box-shadow: 0px 0px 20px #00000070;" onclick="logout(event)">Log Out</button>
    </nav>
    <!-- content -->
    <div id="content" class="content container-fluid" style="margin-top: 55px;">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header text-center" style="background-color:#5d76bd;">
              <h5 style="display: inline; font-weight:bold" id="groupnamespan">Your Groups:</h5>
            </div>
            <div class="card-body text-center" id="groupslist">
              <p class="card-text">No groups joined yet</p>
            </div>
            <button type="button" class="btn btn-secondary mx-5 mb-2" style=" box-shadow: 0px 0px 5px #0000009c;" onclick="addGroup(event)">Add Group</button>
          </div>
        </div>
        <div class="col-8" id="chatcolumn">
          <div class="card shadow" >
            <div class="card-header text-center" style="background-color:#5d76bd ;" name="groupnamediv" id="">
              <h3 style="display: inline; font-weight:bold" id="groupnamespan">Click on a Group to show the chats</h3>
              <p id="groupdescription"></p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary" type="button"id="editgroup" onclick="editGroup(event)" style=" box-shadow: 0px 0px 20px #00000070;">Edit Group</button>
              </div>
            </div>
            <div class="card-body" id="chatbox">
              <p class="card-text">No messages yet</p>
            </div>
            <div class="card-footer" style="background-color:#5d76bd;">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type message here" id="messageinputbox">
                  <div class="input-group-append">
                    <button class="btn btn-secondary mx-2" type="button" onclick="sendMessage(event)" style=" box-shadow: 0px 0px 20px #00000070;">Send</button>
                  </div>
              </div>
            </div>        
          </div>
        </div>
        <div class="col" id="editcolumn" hidden="hidden">
          <div class="card">
            <div class="card-header text-center">Add Users </div>
              <div class="p-2 input-group mb-3">
                <span class="input-group-text">User's Name :</span>
                  <input type="text" id="usersname" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" required>
                    <div class="input-group mb-3">
                      <span class="input-group-text">User Email :</span>
                      <input type="email" id="usersemail" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" required>
                    </div>
                    <div class="btn p-1 col-12">
                      <button type="submit" onclick="addParticipant(event)" class="btn btn-primary mx-auto"> Add
                            users</button><br>
                    </div><br>

                    <p class="text-center fst-italic  mx-auto" id="useraddingresult"></p>
                </div>
                <div class="card-footer text-center">
                  Manage Users<br>
                  <p id="manageusersmessagediv"></p>
                </div>
                <div class="card-body text-center" id="userslist">
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- bootstrap cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script>

      function parseJwt (token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
      }

      window.addEventListener('DOMContentLoaded', async () => {
        try{
        //LogOut code
          const token = localStorage.getItem('token')
          if(token === null){
            logout();
          }
          //Displaying chats
          getMessages();
          getGroups();
          
        } catch(err){
          console.log(err);
          displayError(err);
        }
      })

        // window.setInterval(async () => {
        //   try{
        //     getMessages()
        //   } catch(err){
        //       console.log(err);
        //       displayError(err);
        //   }
        // }, 10000)

        async function getGroups(){
          try{

            const token = localStorage.getItem('token');
            const groupslist = document.getElementById('groupslist');

            const res = await axios.get(`http://localhost:3000/group/group`,{headers:{"auth":token}})

            const allGroups = res.data.allGroups;
            console.log(allGroups);

            if(allGroups.length > 0){

              groupslist.innerHTML = ''

              allGroups.forEach(element => {
                groupslist.innerHTML += `
                <li class="list-group-item">
                  <button class="btn btn-secondary mx-2 my-2" id ="${element.GroupId}" onclick="showGroupChats(event)">${element.groupName}</button>
                </li>`
              })
            }



          }catch(err){
            console.log(err);
            displayError(err);
          }
        }

        async function displayChats(){
          try{
            
            const chatdisp = document.getElementById('chatbox')
            // console.log("here2")
            const alluchats = JSON.parse(localStorage.getItem('oldChats'));
            // console.log("alluchats",alluchats)
            if(alluchats!=null){
              if(alluchats.length>0){
                chatdisp.innerHTML="";
                alluchats.forEach(ele=>{
                  const p = document.createElement('p')
                  p.className = 'cart-text'
                  p.innerText = `${ele.user.name}: ${ele.message}`
                  chatdisp.appendChild(p)
                })
              }
            }
          }catch(err){
            console.log(err);
            displayError(err);
          }
        }

        async function getMessages(){
          try{

            const token = localStorage.getItem('token');

            let oldChats = localStorage.getItem('oldChats');
            let oldChat_Array = JSON.parse(localStorage.getItem('oldChats'));

            let previousId=0;            
            if(oldChat_Array!=null || oldChat_Array!=undefined ){
              if(oldChat_Array.length>0){
                previousId = (oldChat_Array[oldChat_Array.length-1].id);
              }
            }

            //console.log("previousId",previousId);

            const res = await axios.get(`http://localhost:3000/chat/message?previousId=${previousId}`,{headers:{"auth":token}})

            const allnewchats = res.data.messages;
            //console.log("-----allnewchats----",allnewchats);
            if(allnewchats.length>0 &&(allnewchats!=null|| allnewchats!=undefined)){
              updateLocalStorage(allnewchats);
            }else{
              displayChats();
            }
            //console.log("allchats received",allchats)
          }catch(err){
            console.log(err);
            displayError(err);
          }
        }

        function updateLocalStorage(allnewchats){
          try{
            const oldLS = localStorage.getItem('oldChats');
            const oldLS_parsed = JSON.parse(oldLS);
            //const stringRes = JSON.stringify(allchats);
            let updatedLS;
            if(oldLS_parsed==0|| oldLS_parsed ==undefined|| oldLS_parsed.length==0){
              updatedLS=[...allnewchats]
            }else{
              updatedLS=oldLS_parsed.concat(allnewchats);
              console.log("====updatedLS----",updatedLS)
            }
            if(updatedLS.length>10){
              updatedLS=updatedLS.slice(updatedLS.length-10)
            }
            const stringupdatedLS = JSON.stringify(updatedLS)      
            localStorage.setItem('oldChats',stringupdatedLS)
            //console.log("---end of update---",localStorage.getItem('oldChats'))
            displayChats();
          }catch(err){
            console.log(err);
            displayError(err);
          }
        }

        async function sendMessage(e){
          try{
            const token = localStorage.getItem('token')
            const decodeToken = parseJwt(token);
            //console.log("token",decodeToken);
            const chatdisp = document.getElementById('chatbox')
            const textbox = document.getElementById('messageinputbox');
            const message = textbox.value;
            textbox.value="";
            const messageObj={
              message:message
            }
            
            const res=await axios.post('http://localhost:3000/chat/message',messageObj,{headers:{"auth":token}})
            getMessages();
          }catch(err){
            console.log(err);
            displayError(err);
          }
        }

        function addGroup(){
          window.location.href = '../add-group/add-group.html'
        }

        function displayError(err){
          const content = document.getElementById('content')
          if(err.response==undefined){
            alert(err);
            content.innerHTML=`<div class="error_box-container"><div class="error_box">${err}</div></div>`+ content.innerHTML;
          }else{
            alert(err.response.data.message);
            content.innerHTML=`<div class="error_box-container"><div class="error_box">${err.response.data.message}</div></div>`+ content.innerHTML;
          }
          const errbox= document.getElementsByClassName('error_box');
          for(let i=0;i<errbox.length;i++){
            setTimeout(()=>{
              errbox[i].style.display ='none';},3000);
          }
        } 
        
        function logout(e){
            localStorage.removeItem('token')
            localStorage.removeItem('oldChats')
            window.location.href = '../login/login.html'
        }
    </script>
  </body>
</html>