<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>

  <body style="font-family: 'Roboto Slab', serif;  background-color: #b4c6f8;">
    <!-- nav bar -->
    <nav style= "background-color: #5169a6;" class="navbar navbar-light shadow">
      <a style= "color:white;" class="link-opacity-100-hover mx-3" href="../home-page/home.html">Home Page</a>
      <button class="btn btn-secondary my-2 mx-3 my-sm-0" style=" box-shadow: 0px 0px 20px #00000070;" onclick="logout(event)">Log Out</button>
    </nav>
    <div class="content">
      <div class="text-center">
        <h3 style="text-shadow: 2px 2px 10px #00000073;" class="mt-sm-3">EDIT GROUP</h3>
        <button class="btn btn-secondary mt-sm-4 mx-3 my-sm-0" style=" box-shadow: 0px 0px 20px #00000070;" onclick="closeTab()">Close</button>
      </div>
      <div class="new-user-form">
        <form onsubmit="addUserToGroup(event)" class="text-center mt-3">
          <label for="email" style="font-weight: 600;font-size: 20px;">UserID:</label>
          <input type="email" id="email" placeholder="Enter UserID" name="email">
          <button type="submit" class="btn btn-secondary">
              Add User
          </button>
        </form>
      </div>
      <div class="user-lists mt-3 mx-3">
        <div class="admins" id="admin-list" style="background-color: #b4c6f8;"></div>
        <h4>Admin List:</h2>
        <hr>
        <table id="admin-table" class="table" >
          <thead>
            <tr>
              <th style="width: 60%;">Email</th>
              <th style="width: 25%;">RemoveAdmin</th>
            </tr>
          </thead>
          <tbody id="t-admin-list">
          </tbody>
        </table>
        <div class="existing-users" id="user-list" style="background-color: #b4c6f8;"></div>
        <h4>Group Members:</h2>
        <hr>
        <table id="existing-user-table" class="table">
          <thead>
            <tr>
              <th style="width: 50%;">Email</th>
              <th style="width: 20%;">Delete</th>
              <th style="width: 20%;">Make Admin</th>
            </tr>
          </thead>
          <tbody id="t-user-list">
          </tbody>
        </table>
      </div>
    </div>
    <!-- bootstrap cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script>

      function parseJwt (token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));
        return JSON.parse(jsonPayload);
      }

      window.addEventListener('DOMContentLoaded', async () => {
        try{
          //Logout code
          const token = localStorage.getItem('token');
          const selectedGroupid = localStorage.getItem('selectedGroupid');

          if(token === null){
            logout();
          }
          if(selectedGroupid===null){
            window.location.href=='../home-page/home.html';
          }
          getData();
          
        } catch(err){
          console.log(err);
          displayError(err);
        }
      })

      async function getData(){
        const displist1 = document.getElementById('t-admin-list');
        displist1.innerHTML="";
        const displist2 = document.getElementById('t-user-list');
        displist2.innerHTML="";
        const token = localStorage.getItem('token');
        const selectedGroupid = localStorage.getItem('selectedGroupid');
        const res = await axios.get(`http://localhost:3000/group/get-group-users?groupId=${selectedGroupid}`,{headers:{"auth":token}});
        const list = res.data.listofusers;
        list.forEach(element => {
          if(element.userAndGroup.admin){
            const displist = document.getElementById('t-admin-list');
            displist.innerHTML = displist.innerHTML +`<tr id='${element.id}'>
            <td>${element.email}</td>
            <td><button onclick="removeAdmin('${element.id}')">Remove Admin</button></td></tr>`
          }else{
            const displist = document.getElementById('t-user-list');
            displist.innerHTML = displist.innerHTML +`<tr id='${element.id}'>
            <td>${element.email}</td>
            <td><button onclick="makeAdmin('${element.id}')">Make Admin</button></td>
            <td><button onclick="removeUser('${element.id}')">Remove User</button></td></tr>`
          }
        });
        console.log(res.data.listofusers[0].email);
        console.log(res.data.listofusers[0].userAndGroup.admin);
        
      }
      function closeTab(){
        try{
            localStorage.removeItem('selectedGroupid');
            window.location.href='../home-page/home.html'
          }catch(err){
            console.log(err);
            displayError(err);
          }
      }

      async function addUserToGroup(event){
        try{
            event.preventDefault();
            console.log("here")
            const token = localStorage.getItem('token')
            const decodeToken = parseJwt(token);
            const groupid = localStorage.getItem('selectedGroupid');
            const emailbox = document.getElementById('email');
            const newemail = emailbox.value;
            emailbox.value="";

            const newemailObj={
              email:newemail
            }
            console.log(newemailObj)
            const res=await axios.post(`http://localhost:3000/group/add-new-user?groupId=${groupid}`,newemailObj,{headers:{"auth":token}});
            console.log("here2")
            console.log(res);
            alert("New user added");
            getData();
            
          }catch(err){
            console.log(err);
            displayError(err);
          }
      }

      
      async function removeUser(uid){
        try{
            console.log("------")
            console.log(uid);
            const token = localStorage.getItem('token')
            const decodeToken = parseJwt(token);
            const groupid = localStorage.getItem('selectedGroupid');

            const userId = uid;
            console.log(userId);
            const userObj={
              userId : userId
            };
            console.log(userObj)
            const res=await axios.post(`http://localhost:3000/group/remove-user?groupId=${groupid}`,userObj,{headers:{"auth":token}});
            console.log("here2")
            console.log(res);
            alert("user Removed");
            getData();
            
          }catch(err){
            console.log(err);
            displayError(err);
          }
      }


      async function makeAdmin(uid){ ///make-admin' /remove-admin'
        try{
            console.log(uid);
            const token = localStorage.getItem('token')
            const decodeToken = parseJwt(token);
            const groupid = localStorage.getItem('selectedGroupid');

            const userId = uid;
            console.log(userId);
            const userObj={
              userId : userId
            };
            console.log(userObj)
            const res=await axios.post(`http://localhost:3000/group/make-admin?groupId=${groupid}`,userObj,{headers:{"auth":token}});
            console.log("here2")
            console.log(res);
            alert("Admin Updated");
            getData();
            
          }catch(err){
            console.log(err);
            displayError(err);
          }
      }

      async function removeAdmin(uid){ 
        try{
            console.log("------")
            console.log(uid);
            const token = localStorage.getItem('token')
            const decodeToken = parseJwt(token);
            const groupid = localStorage.getItem('selectedGroupid');;

            const userId = uid;
            console.log(userId);
            const userObj={
              userId : userId
            };
            console.log(userObj)
            const res=await axios.post(`http://localhost:3000/group/remove-admin?groupId=${groupid}`,userObj,{headers:{"auth":token}});
            console.log("here2")
            console.log(res);
            alert("Admin Removed");
            getData();
            
          }catch(err){
            console.log(err);
            displayError(err);
          }
      }

      function displayError(err){
          const content = document.getElementById('content')
          if(err.response==undefined){
            console.log(err);
            alert(err);
            content.innerHTML=`<div class="error_box-container"><div class="error_box">${err}</div></div>`+ content.innerHTML;
          }else{
            console.log(err);
            alert(err.response.data.message);
            content.innerHTML=`<div class="error_box-container"><div class="error_box">${err.response.data.message}</div></div>`+ content.innerHTML;
          }
          const errbox= document.getElementsByClassName('error_box');
          for(let i=0;i<errbox.length;i++){
            setTimeout(()=>{
              errbox[i].style.display ='none';},3000);
          }
        }

      function logout(e){
        localStorage.removeItem('token')
        localStorage.removeItem('oldChats')
        window.location.href = '../login/login.html'
      }
    </script>
  </body>
</html>


